ADF/pipeline/pipeline_practice_copy_dynamic.json
{
	"name": "pipeline_practice_copy_dynamic",
	"properties": {
		"activities": [
			{
				"name": "Read_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Config_Practices",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Per_Practice",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read_Config').output.firstRow.Practices",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_From_Source_To_Sink",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "@item().source.directory",
										"wildcardFileName": "@coalesce(item().source.file_pattern,'*')",
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "BinaryWriteSettings"
									},
									"copyBehavior": "PreserveHierarchy"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SRC_ALDS",
									"type": "DatasetReference",
									"parameters": {
										"container": "@item().source.container"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SINK_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().sink.container",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().sink.directory",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Execute PL_Load_Sink_To_Snowflake",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy_From_Source_To_Sink",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Load_Sink_To_Snowflake",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}