ADF/pipeline/PL_Ingest_To_Raw_v2.json
{
	"name": "PL_Ingest_To_Raw_v2",
	"properties": {
		"activities": [
			{
				"name": "Read_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Config_Practices",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Per_Practice",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read_Config').output.firstRow.Practices",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_SrcContainer",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vSrcContainer",
								"value": {
									"value": "@item().connection.adls.container",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_SrcDirectory",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vSrcDirectory",
								"value": {
									"value": "@item().connection.adls.directory",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_FilePattern",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFilePattern",
								"value": {
									"value": "@coalesce(item().connection.adls.file_pattern, '*')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_SinkContainer",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vSinkContainer",
								"value": {
									"value": "@item().target.container",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_SinkDirectory",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vSinkDirectory",
								"value": {
									"value": "@item().target.directory",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ADLS_List",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Set_SrcContainer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set_SrcDirectory",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set_FilePattern",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set_SinkContainer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set_SinkDirectory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Filter_ADLS_Files",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "ADLS_List",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('ADLS_List').output.childItems",
									"type": "Expression"
								},
								"condition": {
									"value": "@and(or(equals(item().type,'File'), equals(item().type,'file')), or(equals(variables('vFilePattern'), '*'), endswith(item().name, replace(variables('vFilePattern'), '*', ''))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Per_File",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Filter_ADLS_Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Filter_ADLS_Files').output.Value",
									"type": "Expression"
								},
								"isSequential": true,
								"activities": [
									{
										"name": "Copy_ADLS_to_ADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "BinaryWriteSettings"
												}
											},
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"vSrcContainer": {
				"type": "String"
			},
			"vSrcDirectory": {
				"type": "String"
			},
			"vSinkContainer": {
				"type": "String"
			},
			"vSinkDirectory": {
				"type": "String"
			},
			"vFilePattern": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ingest"
		},
		"annotations": []
	}
}