ADF/pipeline/PL_Ingest_To_Raw.json
{
	"name": "PL_Ingest_To_Raw",
	"properties": {
		"activities": [
			{
				"name": "Read_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Config_Practices",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Per_Payer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read_Config').output.firstRow.Practices",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ADLS_List",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_SFTP_ADLS_Delimited_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "@item().connection.adls.container",
										"directory": "@item().connection.adls.directory"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ingest"
		},
		"annotations": []
	}
}